@model CadastroReceitas.Domain.Models.Receita

@{
    ViewData["Title"] = "Cadastrar Receita";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" class="form-control" />
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ingredientes" class="control-label"></label>
                <input asp-for="Ingredientes" class="form-control" />
                <span asp-validation-for="Ingredientes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModoPreparo" class="control-label"></label>
                <input asp-for="ModoPreparo" class="form-control" />
                <span asp-validation-for="ModoPreparo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imagem" class="control-label"></label>
                <input asp-for="Imagem" class="form-control" />
                <span asp-validation-for="Imagem" class="text-danger"></span>
            </div>
            <p></p>
            <div class="form-group text-left">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-danger">Cancelar</a>
            </div>
        </form>
    </div>
</div>


@*<main class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-sm-12">
            <h1>@ViewData["Title"]</h1>
            <hr />
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" class="form-control" />
                <div class="form-group">
                    <label asp-for="Titulo" class="col-form-label"></label>
                    <input asp-for="Titulo" class="form-control col-6" />
                    <span asp-validation-for="Titulo" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Ingredientes" class="col-form-label"></label>
                    <input asp-for="Ingredientes" class="form-control col-6" />
                    <span asp-validation-for="Ingredientes" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ModoPreparo" class="col-form-label"></label>
                    <input asp-for="ModoPreparo" class="form-control col-6" />
                    <span asp-validation-for="ModoPreparo" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Imagem" class="col-form-label"></label>
                    <input asp-for="Imagem" class="form-control col-6" />
                    <span asp-validation-for="Imagem" class="text-danger"></span>
                </div>
               
                <p> </p>
                <div class="form-group text-left">
                    <a asp-action="Index" class="btn btn-danger">Cancelar</a>
                    <input type="submit" value="Salvar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</main>*@

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
